<%= form_with model: [@doctor, @prescription], class: 'row g-2' do |form| %>
	<% if prescription.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>
			<ul>
				<% prescription.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field form-floating mb-3">
		<%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
		<%= form.label :title, 'Title' %>
	</div>
	<div class="field form-floating mb-3">
		<%= form.text_field :description, class: 'form-control', placeholder: 'Description' %>
		<%= form.label :description, 'Description' %>
	</div>
	<div class="field row mb-3">
		<%= form.label :total_cost, 'Total Cost:', class: 'col-sm-2 col-form-label' %>
		<div class="col-sm-2">
			<%= form.number_field :total_cost, step: :any, class: 'total_cost form-control-plaintext', readonly: true, placeholder: 'Total' %>
		</div>
	</div>
	<div class="field">
		<%= form.number_field :doctor_id, type: :hidden %>
	</div>
	<fieldset>
		<legend>Medicine:</legend>
		<%= form.fields_for :presc_medicines do |presc_meds_form| %>
			<%= render "presc_medicine_fields", f: presc_meds_form %>
		<% end %>
		<%= link_to_add_fields "Add Medicine", form, :presc_medicines %>
	</fieldset>
	<div class="actions">
		<%= form.submit 'Submit', class: 'btn btn-outline-success' %>
		<%= link_to 'Cancel', doctor_prescriptions_path, class: 'btn btn-outline-danger' %>
	</div>
<% end %>
