<%= form_with model: [@doctor, @prescription] do |form| %>
	<% if prescription.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>
			<ul>
				<% prescription.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= form.label :title %>
		<%= form.text_field :title %>
	</div>
	<div class="field">
		<%= form.label :description %>
		<%= form.text_field :description %>
	</div>
	<div class="field">
		<%= form.label :total_cost %>
		<%= form.number_field :total_cost %>
	</div>
	<div class="field">
		<%= form.number_field :doctor_id, type: :hidden %>
	</div>
	<fieldset>
		<legend>Medicine:</legend>
		<%= form.fields_for :presc_medicines do |presc_meds_form| %>
			<%= render "presc_medicine_fields", f: presc_meds_form %>
		<% end %>
		<%= link_to_add_fields "Add Medicine", form, :presc_medicines %>
	</fieldset>
	<div class="actions">
		<%= form.submit %>
	</div>
<% end %>
