<table class='table table-striped border'>
	<caption>List of Doctor <%= @doctor.doctor_name%>'s Prescriptions</caption>
	<thead class='bg-primary'>
		<tr class='heading-color'>
			<th>
				<%= sort_link(@q, :title) do %>
					<strong class='text-white'>Title</strong>
				<% end %>
			</th>
			<th>Description</th>
			<th>
				<%= sort_link(@q, :total_cost) do %>
					<strong class='text-white'>Total Cost (Php)</strong>
				<% end %>
			</th>
			<th>Prescribed Medicines</th>
			<th>
				<%= sort_link(@q, :prescribed_date) do %>
					<strong class='text-white'>Prescribed Date</strong>
				<% end %>
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @prescriptions.each do |prescription| %>
			<tr>
				<td><%= link_to "#{prescription.title}", doctor_prescription_path(@doctor, prescription), class: 'table-link' %></td>
				<td><%= prescription.description %></td>
				<td><%= prescription.total_cost %></td>
				<td>
					<ul>
						<% prescription.presc_medicines.each do |presc_medicine| %>
							<li>
								<%= presc_medicine.quantity%>
								<%= get_medicine presc_medicine %>
							</li>
						<% end %>
					</ul>
				</td>
				<td>
					<%= prescription.prescribed_date %>
				</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic outlined example">
						<%= link_to 'Edit', edit_doctor_prescription_path(@doctor, prescription), class: 'btn btn-outline-primary' %>
						<%= link_to 'Delete', doctor_prescription_path(@doctor, prescription), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary' %>
					</div>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Add New Prescription', new_doctor_prescription_path, class: 'btn btn-outline-success' %>
