<div class="row justify-content-center">
	<div class="mt-4 p-5 bg-primary text-white rounded col-8">
		<h1>
			<%= @prescription.title %>
		</h1>
		<div class='mb-3'>
			<p>
				<%= @prescription.description %>
			</p>
			<strong> Total Cost:</strong>
			<span>
				<%= @prescription.total_cost %>
			</span>
		</div>
		<div>
			<strong>Prescribed Medcicines:</strong>
			<% @presc_medicines.each do |presc_medicine| %>
				<p class='mt-1 ms-3'>
					<%= get_medicine presc_medicine %> - 
					Php <%= compute_discount presc_medicine%>
				</p>
			<% end %>
		</div>
		<p>
			<%= link_to 'Edit', edit_doctor_prescription_path(@doctor, @prescription), class: 'btn btn-outline-light text-white me-1' %>
			<%= link_to 'Back', doctor_prescriptions_path, class: 'btn btn-outline-light text-white' %>
		</p>
	</div>
</div>
