<p id="notice"><%= notice %></p>
<p>
	<strong>Title:</strong>
	<%= @prescription.title %>
</p>
<p>
	<strong>Description:</strong>
	<%= @prescription.description %>
</p>
<p>
	<strong>Total cost:</strong>
	<%= @prescription.total_cost %>
</p>
<div>
	<p><strong>Medcicines:</strong></p>
	<% @medicines.each do |medicine| %>
		<p><%= medicine.meds_name%></p>
	<% end %>
</div>
<%= link_to 'Edit', edit_doctor_prescription_path(@prescription) %> |
<%= link_to 'Back', doctor_prescriptions_path %>
