<h2 class='mb-4'>Welcome Godfrey!</h2>
<div class="row">
	<h4>Prescriptions</h4>
	<% @prescriptions.each do |prescription| %>
		<div class="col-auto mb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<%= prescription.title %>
					</h5>
					<p class="card-text">
						<%= prescription.description %>
						<ul>
							<% prescription.presc_medicines.each do |presc_medicine| %>
								<li>
									<%= presc_medicine.quantity%>
									<%= get_medicine presc_medicine %>
								</li>
							<% end %>
						</ul>
					</p>
				</div>
				<div class="card-footer bg-tertiary">
					<%= link_to 'See Prescription', doctor_prescription_path(prescription.doctor_id, prescription), class: 'btn btn-outline-primary' %>
				</div>
			</div>
		</div>
	<% end %>
	<div class="col-auto align-self-center">
		<%= link_to 'See All Prescriptions', prescriptions_path, class: 'btn btn-outline-primary'%>
	</div>
</div>
<div class="row">
	<h4>Medicines</h4>
	<% @medicines.each do |medicine| %>
		<div class="col-auto mb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<%= medicine.meds_name %>
					</h5>
					<p class="card-text">
						<%= medicine.meds_category %> -
						Php <%= medicine.meds_cost %>
					</p>
				</div>
			</div>
			<div class="card-footer bg-tertiary">
				<%= link_to 'See Medicine', medicine, class: 'btn btn-outline-primary' %>
			</div>
		</div>
	<% end %>
	<div class="col-auto align-self-center">
		<%= link_to 'See All Medicines', medicines_path, class: 'btn btn-outline-primary'%>
	</div>
</div>
<div class="row">
	<h4>Doctors</h4>
	<% @doctors.each do |doctor| %>
		<div class="col-auto mb-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<%= doctor.doctor_name %>
					</h5>
					<p class="card-text">
						<strong>Specialization:</strong>
						<span>
							<%= doctor.specialization %>
						</span>
					</p>
					<p class="card-text">
						<strong>Contact Number:</strong>
						<span>
							<%= doctor.doctor_phone %>
						</span>
					</p>
					<p class="card-text">
						<strong>Hospital:</strong>
						<span>
							<%= doctor.hospital %>
						</span>
					</p>
				</div>
			</div>
			<div class="card-footer bg-tertiary">
				<td><%= link_to 'See Doctor', doctor, class: 'btn btn-outline-primary' %></td>
			</div>
		</div>
	<% end %>
	<div class="col-auto align-self-center">
		<%= link_to 'See All Doctors', doctors_path, class: 'btn btn-outline-primary'%>
	</div>
</div>
